<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="keywords" content="孟烦了">
    <meta name="description" itemprop="description" content=" - 孟烦了的个人博客，是一个分享工作经验和生活,值得大家收藏的原创博客网站。">
    <meta name="author" content="">
    <link rel="icon" href="/img/favicon.png">
    <title>孟烦了的独立博客</title>
    <!-- Bootstrap core CSS -->
    <link href="/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/lib/bootstrap/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<div id="bg"></div>
<div class="box">
    <div id="header">
        <h1>LOGIN</h1>
    </div>
    <form id="form-box">
        <div class="group">
            <input class="inputMaterial" type="text" name="userName" required>
            <span class="bar"></span>
            <label>用户名称：</label>
        </div>
        <div class="group">
            <input class="inputMaterial" type="password" name="passWord" required>
            <span class="bar"></span>
            <label>密码：</label>
        </div>
        <button id="buttonlogintoregister" type="button">登录</button>
    </form>
    <div id="footer-box">
        <p class="footer-text">Not a member?<span class="sign-up"> Sign up now</span></p>
    </div>
</div>


<script src="/lib/jq/jquery.min.js"></script>
<script src="/lib/bootstrap/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/lib/bootstrap/ie10-viewport-bug-workaround.js"></script>
<script src="/js/login.js"></script>
</body>
</html>