* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB",
    "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
.clearfix:after{
    height: 0;
    content: '';
    clear: both;
    overflow: hidden;
    display: block;
}
.clearfix{
    zoom: 1;
}

.navbar-brand {
    padding: 2px 15px;
}

.btn-style{
    display: inline-block;
    width: auto;
}
