<footer class="footer-box">
    <div class="footer-box-other">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="footer-box-title">
                        孟烦了的独立博客
                    </div>
                    <div class="footer-box-info">
                        也许是一路上千万种选择，至以博客的诞生。借此在漫漫的长河中，愿与各位时间的朋友结缘。
                        分享孟烦了在前端、nodeJS、web中的各种点滴。纵有千种风情，更欲与君同！
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="footer-box-title">
                        相关链接
                    </div>
                    <div class="footer-box-link">
                        <a href="#">技术分享</a>
                        <a href="#">心情随笔</a>
                        <a href="#">英雄榜</a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="footer-box-title">
                        友情链接
                    </div>
                    <div class="footer-box-link">
                        <a href="#">亚梅</a>
                        <a href="#">飞跃</a>
                        <a href="#">二狗</a>
                    </div>
                    <div class="footer-box-me">
                        <a href="#"><i class="iconfont icon-weibo"></i></a>
                        <a href="#"><i class="iconfont icon-weixin "></i></a>
                        <a href="#"><i class="iconfont icon-github3"></i></a>
                        <a href="#"><i class="iconfont icon-youxiang"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-box-copyright">
        <div class="container">
            <div class="col-lg-12 col-md-12">
                <div class="footer-box-copyright--info">
                    <p>design & code by @孟烦了,base on koa2 + mongoDB</p>
                    <p>孟烦了的独立博客© 2018-2019 • All rights reserved.</p>
                    <p>感谢七牛云存储提供静态资源空间，阿里云提供的优质云服务。</p>
                </div>
            </div>
        </div>
    </div>
</footer>
